<header class="py-4">
    <div class="mx-auto container px-4">
        <div class="navbar">
            <div class="navbar-start">
                <div class="dropdown">

                    <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
                    </div>
                    <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow rounded-box w-52 bg-white">
                        <li> <a class="" href="">Home</a> </li>
                        <li><a asp-controller="Home" asp-action="Pricing" class="hover:text-ternaryColor">Bảng Giá</a></li>
                        <li> <a href="">About</a> </li>
                        <li> <a href="">Destination</a> </li>
                        <li> <a href="">Search</a> </li>
                    </ul>
                </div>
                <a href="" class="lg:font-bold text-titleColor text-[18px] font-extrabold lg:text-3xl text-white"> Matha Paribahan </a>
            </div>

            <div class="navbar-center hidden lg:flex">
                <ul class="menu menu-horizontal px-1 bigDisplayMenu">
                    <li> <a href="">Home</a> </li>
                    <li><a asp-controller="Home" asp-action="Pricing" class="hover:text-ternaryColor">Bảng Giá</a></li>
                    <li> <a href="">About</a> </li>
                    <li> <a href="">Destination</a> </li>
                    <li> <a href="">Search</a> </li>
                </ul>
            </div>

            <div class="navbar-end">
                <a href="#" class="btn text-secColor bg-[#e8ffe5] hover:bg-[#21e802f6] hover:border-[#21e802f6] hover:text-priColor border-2 border-ternaryColor font-bold lg:text-xl text-lg">Bus <span><img src="~/client-assets/images/bus-icon.png" alt=""></span> </a>
            </div>
        </div>
    </div>
</header>