<footer class="p-10 text-neutral-content bg-titleColor">
    <div class="mx-auto px-4">
        <div class="footer-top lg:flex justify-between border-b-2 border-dashed border-sky-500 pb-10">
            <div class="left-side mb-8 lg:mb-0">
                <h2 class="lg:text-3xl text-xl font-bold">MathaModa Paribahan</h2>
                <p class="text-priColor text-sm mt-2" >P-Ticket is a digital platform to make your <br> daily commuting better.</p>
            </div>
            <div class="right-side">
                <h6 class="footer-title text-priColor">Download Our App</h6> 
                <div class="grid grid-flow-col gap-4 mt-3">
                    <div class="card card-side p-0 border border-white/50 hover:border-ternaryColor transition duration-300">
                        <figure class="p-3"><img src="~/client-assets/images/playstore.png" alt="Google Playstore"/></figure>
                        <div class="card-body p-2">
                            <p class="text-priColor text-xs" >Get it on</p>
                            <h2 class="card-title font-bold text-sm text-white">Google Play</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-t-2 border-dashed border-sky-500 lg:flex lg:justify-between mt-10 py-5 flex flex-col sm:flex-row sm:justify-between">
            <div>
                <p class="text-priColor text-sm text-center sm:text-left mb-3 lg:mb-0" >Copyright © 2024 - All right reserved by ACME Industries Ltd</p>
            </div>
            <div class="text-center sm:text-right">
                <a class="mx-1 p-1 text-sm text-white/80 hover:text-ternaryColor transition duration-300" href="">Return & refund policy</a>
                <a class="mx-1 p-1 text-sm text-white/80 hover:text-ternaryColor transition duration-300" href="">Terms & Conditions</a>
                <a class="mx-1 p-1 text-sm text-white/80 hover:text-ternaryColor transition duration-300" href="">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>