<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Đặt Vé Xe Online</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="~/client-assets/css/style.css" /> 

    <script>
    tailwind.config = {
        theme: {
            extend: {
                // Kích hoạt font Raleway làm font chữ chủ đạo (font-sans) cho toàn trang
                fontFamily: {
                    sans: ['Raleway', 'sans-serif'],
                },
                colors: {
                    clifford: '#da373d',
                    priColor: '#fff',
                    titleColor: '#030712',
                    secColor: '#21e802',
                    ternaryColor: '#1DD100',
                }
            }
        }
    }
</script>
</head>
<body class="dark bg-gray-50 dark:bg-gray-900">

<partial name="_ClientHeaderPartial" />

<main>
    @RenderBody()
</main>

<partial name="_ClientFooterPartial" />

<script src="~/client-assets/js/utility.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>